services:
  db:
    image: postgres:15
    restart: always
    env_file: .env
    volumes:
      - ./schema.sql:/docker-entrypoint-initdb.d/schema.sql
      - dev_db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build: .
    restart: always
    env_file: .env
    environment:
      DATABASE_URL: ${DATABASE_URL}
      SECRET_KEY: ${SECRET_KEY}
      FLASK_ENV: development
      FLASK_DEBUG: 1
    depends_on:
      - db
    ports:
      - "5001:5000"
    volumes:
      - .:/usr/src/app

volumes:
  dev_db_data:
