body {
    margin: auto;
    max-width: 80em;
    font-family: 'Helvetica';
    background-color: #a9c2cc;
}

.form {
    margin-top: -5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trackform {
    position: relative;
    bottom: 14.5em;
    left: 35em;
    max-width: 40em;
}

.tracklist {
    columns: 2;
}

#trackname {
    margin-right: 5px;
}

#delete_button {
    background-color: black;
    color: red;
    margin-left: 22em;
    margin-top: 13em;
    font-weight: bold;
    position: absolute;

}

#login {
    margin-top: 20px;

}

#center {
    text-align: center;
}

table, th, td {
  border:1px solid black;
}

ul {
    padding-left: 0px;
    list-style-type: none;
    width: 100%;
    word-wrap: break-word;
}