body {
    margin: auto;
    max-width: 80em;
    font-family: 'Helvetica';
    background-color: #a9c2cc;
}

.form {
    margin-top: -5em;
    display: flex;
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
}

.trackform {
    position: relative;
    bottom: 14.5em;
    left: 35em;
    max-width: 40em;
}

.tracklist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#login {
    margin-top: 20px;

}

table, th, td {
  border:1px solid black;
}

ul {
    padding-left: 0px;
    list-style-type: none;
    width: 100%;
    word-wrap: break-word;
}