{% extends "layout.html" %}
{% block content %}
{% if (session.user_rank == 1 or session.user_rank == 2) %}

<h2>Lisää uusi {{ artist_name }} albumi</h2>

<form  action="/artists/{{ artist_id }}/add_album" method="post">
    <div>
        Albumin nimi: <br><input type="text" name="album_name" size="50" minlength="1" maxlength="50" required>
        <p>
        Genre: <br><input type="text" name="genre" size="50" minlength="1" maxlength="50" required>
        <p>
        Julkaisuvuosi: <br><input type="number" name="year" size="6" min={{ artist_year }} max="2023" required>
    </div>
    <div>
        <input type="submit" value="Lisää albumi">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <p>
        <a href="/artists/{{ artist_id }}">Palaa artistiin</a>
    </div>    

    <div id="trackform" class="trackform">
        <input id="trackname" type="text" name="track_name" size="60" minlength="1" maxlength="60" placeholder="Kappaleen nimi" required><input type="float" name="track_length" size="10" placeholder="Pituus (X.XX)" required>
    </div>
</form>
<div class="trackform">
    <button onclick="add()">Lisää</button>
    <button onclick="remove()">Poista</button>
</div>

<script src="{{url_for('static', filename='script.js')}}"></script>

{% else %}
<p>
<h2>PÄÄSY KIELLETTY</h2>
<p>
<a href="/artists/{{ artist_id }}">Walk of shame (Palaa artistiin)</a>
{% endif %}
{% endblock %}