{% extends "layout.html" %}
{% block content %}

<h2>{{ name }}</h2>
<h3><a href="/artists/{{ artist_id }}">{{ artist_name }}</a></h3>

<table>
    <tr>
        <th>Julkaisuvuosi: {{ year }}</th>
        <th>Genre: {{ genre }}</th>
        <th>Arvosana: {{ "—" if score is none else score}}</th>
        <th>Pituus: {{ tracks | sum(attribute="length")|round(2) }} min</th>
    </tr>
</table>

{% if (session.user_rank == 1 or session.user_rank == 2) %}
<hr>
<a href="/albums/{{ id }}/edit_album">Muokkaa albumin tietoja</a>
<hr>
{% endif %}

<h3>Kappaleet</h3>
<hr>
<div class="tracklist">
    {% for track in tracks %}
        <p>{{loop.index}}. {{ track.name }} — {{ "%.2f"|format(track.length) }} min</p>
    {% endfor %}
</div>

{% if session.user_id %}
<hr>
<h3>Kerro mielipiteesi albumista {{ name }}</h3>

<form action="/review/" method="post">
    Kommentti:<br>
    <textarea name="comment" rows="3" cols="158" minlength="1" maxlength="1000"></textarea>
    <p>
    Arvosana:
    <select name="score">
    <option value="1">1
    <option value="2">2
    <option value="3">3
    <option value="4">4
    <option value="5">5
    </select>
    <p><input type="submit" value="Lähetä">
    <input type="hidden" name="album_id" value="{{ id }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endif %}

<hr>
{% for review in reviews %}
<ul>
    <li>
        <div 
            class="review"><a href="/albums/{{ review.id }}">{{ review.name }}</a> {{ review.username }}  {{ review.created.strftime("%d-%m-%Y %H:%M:%S") }}
        </div>
        <p>
        {{ review.comment }}
        <p>
        <div class="review">{{ review.score }}/5</div>
        {% if session.user_rank == 1 or session.user_id == review.user_id %}
        <form action="/remove_rev/" method="post">
            <p><input type="submit" value="Poista kommentti">
            <input type="hidden" name="review_id" value="{{ review.review_id }}">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
        {% endif %}
    <hr>
    </li>
</ul>
{% endfor %}

{% endblock %}
