{% extends "layout.html" %}
{% block content %}

<h2>{{ name }}</h2>
<h3>{{ artist_name }}</h3>
<hr>
Julkaisuvuosi: {{ year }} |
Genre: {{ genre }} |
{% if (session.user_rank == 1 or session.user_rank == 2) %}
<hr>
<a href="/albums/{{ id }}/edit_album">Muokkaa albumin tietoja</a>
{% endif %}

{% if session.user_id %}
<hr>
<h3>Kerro mielipiteesi albumista {{ name }}</h3>

<form action="/review/" method="post">
Kommentti:<br>
<textarea name="comment" rows="3" cols="158" maxlength="500"></textarea>
<p>
Arvosana:
<select name="score">
<option value="1">1
<option value="2">2
<option value="3">3
<option value="4">4
<option value="5">5
</select>
<p><input type="submit" value="Lähetä">
<input type="hidden" name="album_id" value="{{ id }}">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endif %}

<hr>
{% for review in reviews %} 
<ul>
    <li>{{ review.username }} {{ review.score }}/5 {{ review.created.strftime("%d-%m-%Y %H:%M:%S") }}
    <p>
    {{ review.comment }}
    <hr></li>
</ul>
{% endfor %}

{% endblock %}
