{% extends "layout.html" %}
{% block content %}

<h2>{{ name }}</h2>

<table>
    <tr>
        <th>Perustamisvuosi/Aktiivisena: {{ year }}</th>
        <th>Kotimaa: {{ country }}</th>
        <th>Genret:{% for album in albums %} {{ album.genre }}, {% endfor %}</th>
    </tr>
</table>

{% if (session.user_rank == 1 or session.user_rank == 2) %}
<hr>
<a href="/artists/{{ id }}/add_album">Lisää uusi albumi</a>
<a href="/artists/{{ id }}/edit_artist">Muokkaa artistin tietoja</a>
{% endif %}

<hr>
<h3>Albumit</h3>
<hr>

<table>
    <tr>
        <th>Nimi</th>
        <th>Julkaisuvuosi</th>
        <th>Genre</th>
        <th>Arvosana</th>
    </tr>
    {% for album in albums %}
    <tr>
        <td><a href="/albums/{{ album.id }}">{{ album.name }}</a></td>
        <td>{{ album.year }}-</td>
        <td>{{ album.genre }}</td>
        <td>{{ album.score }}/5</td>  
    </tr>
    {% endfor %}
</table>

{% endblock %}
