{% extends "layout.html" %}
{% block content %}
{% if (session.user_rank == 1 or session.user_rank == 2) %}

<h2>Muokkaa artistin {{ name }} tietoja</h2>

<form action="/artists/{{ id }}/delete_artist" method="post">
    <input id="delete_button" type="submit" onclick="return confirm('HUOM! Artistin poistaminen tyhjentää tietokannasta myös siihen liittyvät albumit, arviot ja kappaleet. Haluatko varmasti poistaa artistin?')" value="Poista artisti">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

<form action="/artists/{{ id }}/edit_artist" method="post">
Artistin nimi: <br><input type="text" name="artist_name" value="{{ name }}" size="50" minlength="1" maxlength="50" required>
<p>
Kotimaa: <br><input type="text" name="country" value="{{ country }}" size="50" minlength="1" maxlength="56" required>
<p>
Perustamisvuosi/aktiivisena: <br><input type="number" name="year" size="6" value={{ year }} min="1940" max="2023" required>
<p>
<input type="submit" value="Vahvista muutokset">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

<a href="/browse">Palaa artisteihin</a>
{% else %}
<p>
<h2>PÄÄSY KIELLETTY</h2>
<p>
<a href="/browse">Walk of shame (Palaa artisteihin)</a>

{% endif %}
{% endblock %}
