{% extends "layout.html" %}
{% block content %}
{% if (session.user_rank == 1 or session.user_rank == 2) %}

<h2>Muokkaa albumin {{ name }} tietoja</h2>

<form action="/albums/{{ id }}/delete_album" method="post">
    <input id="delete_button" type="submit" onclick="return confirm('HUOM! Albumin poistaminen tyhjentää tietokannasta myös siihen liittyvät arviot ja kappaleet. Haluatko varmasti poistaa albumin?')" value="Poista albumi">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

<form action="/albums/{{ id }}/edit_album" method="post">
    <div>
        Albumin nimi: <br><input type="text" name="album_name" value="{{ name }}" size="50" minlength="1" maxlength="50" required>
        <p>
        Genre: <br><input type="text" name="genre" size="50" value="{{ genre }}" minlength="1" maxlength="50" required>
        <p>
        Julkaisuvuosi: <br><input type="number" name="year" value={{ year }} size="6" min={{ artist_year }} max="2023" required>
    </div>
    <div>
        <input type="submit" value="Vahvista muutokset">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <p>
        <a href="/albums/{{ id }}">Palaa takaisin</a>
    </div>

    <div id="trackform" class="trackform">
        {% for track in tracks %}
            <input id="trackname" type="text" name="track_name" size="60" minlength="1" maxlength="60" value="{{ track.name }}" required><input type="float" name="track_length" size="10" value="{{ track.length }}" required>
        {% endfor %}
    </div>
</form>

<div class="trackform">
    <button onclick="add()">Lisää</button>
    <button onclick="remove()">Poista</button>
</div>

<script src="{{url_for('static', filename='script.js')}}"></script>

{% else %}
<p>
<h2>PÄÄSY KIELLETTY</h2>
<p>
<a href="/browse">Walk of shame (Palaa artisteihin)</a>

{% endif %}
{% endblock %}
