{% extends "layout.html" %}
{% block content %}

<h2>Etusivu</h2>


<hr>
{% for review in reviews %} 
<ul>
    <li>
        <div 
            class="review"><a href="/albums/{{ review.id }}">{{ review.name }}</a> {{ review.username }}  {{ review.created.strftime("%d-%m-%Y %H:%M:%S") }}
        </div>
        <p>
        {{ review.comment }}
        <p>
        <div class="review">{{ review.score }}/5</div>
    <hr>
    </li>
</ul>
{% endfor %}

{% endblock %}

<a href="/albums/{{ review.id }}">{{ review.name }}</a>