<!doctype html>
<link rel="stylesheet" href="/static/main.css">
<title>Albumiarvioija</title>
<h1>Albumiarvioija</h1>

{% if session.user_id %}
    <p>Terve {{ session.username }}</p>
    <a href="/logout">Kirjaudu ulos</a>
{% else %}
    <form class="form" action="/login" method="POST">
    <p>Käyttäjänimi:<br>
    <input type="text" name="username"></p>
    <p>Salasana:<br>
    <input type="password" name="password"></p>
    <input id="login" type="submit" value="Kirjaudu">
    <a id="login" href="/register">Luo uusi käyttäjä</a>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
{% endif %}

<a href="/">Etusivu</a>
<a href="/browse">Selaa artisteja</a>


{% block content %}{% endblock %}
